
/*修改背景色*/
/*body, html{
	background: #fff;
}*/

/*修改鸟友评4个文字的大小*/
.detail-text .pltitle{
	font-weight: bold;
	font-size:14px ;
}


/*修改数量文字大小*/
.detail-text .numbers{
	font-size: 12px;
}


/*修改话题离顶部的距离*/
.bgff{
	padding: 15px 15px 5rem 15px;
}


/*修改用户昵称文字大小和底部的距离*/
.username{
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 8px;
}

/*修改发布时间文字大小*/
.detail-text .time{
	padding: 0;
	font-size: 12px;
}


/*修改评论内容的文字颜色*/
.detail-text .pl{
	color: #333;
	margin-top: -15px;
}
/*修改回复2个字的文字大小和颜色*/
.detail-pj-mes .huifu{
	font-size: 12px;
	color: #999;
}


/*修改职位名称文字大小*/
.font16{
	font-size: 16px;
}

.bgfff{
	background: #fff;
}

.magrinB10{
	margin-bottom: 10px;
}

.lineh20{
	line-height: 20px;
	margin-top: 12PX;
}
.font14{
	font-size: 14px;
}


.mui-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: 0
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc
}

.mui-slider .mui-slider-group {
    font-size: 0;
    position: relative;
    height: 100%;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    white-space: nowrap
}

.mui-slider .mui-slider-group .mui-slider-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal
}

.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
    line-height: 0;
    position: relative;
    display: block
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%
}

.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after,.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before {
    height: 0
}

.mui-slider .mui-slider-group.mui-slider-loop {
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
}

.mui-slider-title {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: left;
    text-indent: 12px;
    opacity: .8;
    background-color: #000
}

.mui-slider-indicator {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: 0 0
}

.mui-slider-indicator.mui-segmented-control {
    position: relative;
    bottom: auto
}
			.mui-preview-image.mui-fullscreen {
				position: fixed; width:100%; height: 100%; top:0px; left: 0px;
 				z-index: 999;
				background-color: rgba(0,0,0,1);
			}
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto 4;
				width: 70px;
				background-color: rgba(0, 0, 0, 0);
				border-radius: 12px;
				font-size: 16px;
			}
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
			}
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			.mui-preview-loading.mui-active {
				display: block;
			}
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
			@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			p img {
				max-width: 100%;
				height: auto;
			}