<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户服务协议</title>
    <meta name="viewport" content="width=750,user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="mobileOptimized" content="width">
    <meta name="handheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style>
        .service{
            width:100%;
            height:auto;
            background:#fff;
            overflow: hidden;
        }
        .Top-title{
            font-size:40px;
            color: #e88e8e;
            margin-top:70px;
            margin-bottom:50px;
        }
        .All-text p{
            font-size:22px;
            color: #595757;
            line-height:40px;
            padding:0 20px;
        }
        .All-text .l-title{
            font-size:36px;
            color: #FF5809;
        }
    </style>
</head>
<body>
    <div class="service">
        <div class="All-text">
			<p class="l-title">
                总则
            </p>
            <p>
                本协议为用户您（即：用户以下称您）与鸟听网络开发部（以下简称“鸟听”）之间关于用户使用“鸟听”移动客户端（以下称“本软件”或“鸟听”）提供的服务所达成的协议。
				<br/><br/>
				您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。
				<br/><br/>
				当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与鸟听达成一致，成为鸟听的用户。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。
				<br/><br/>
				您确认，在您开始注册程序使用鸟听服务前，您应当具备中华人民共和国法律规定的与您的行为相适应的民事行为能力。若您不具备前述与您的行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。
				<br/><br/>
				鸟听平台上公示的隐私权政策等全部规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用鸟听服务，视为您同意上述补充协议。
				<br/>
            </p>
            <p class="l-title">
                权利声明
            </p>
            <p>
                鸟听软件及其所包含的所有文字、图表、用户界面、可视界面、图片、商标、标识、声音、音乐、美术作品及计算机编码等，包括但不限于该软件及其内容的设计、结构、选择、协调、表达、界面外观及排序等，除另有声明外，均属鸟听所有、受鸟听控制或许可给鸟听使用，且受著作权法、专利法、商标法以及各类其他知识产权法和反不正当竞争法的保护。
                <br/><br/>
				除本协议明确规定外，未经鸟听事先明确书面同意，您不可以任何方式 (包括“镜像”) 将鸟听的任何部分及任何内容复制、再制、重印、上传、发布、公开展示、编码、翻译、传输或散布至任何其他计算机、服务器、网站、客户端或其他媒介。
                <br/>
            </p>
            <p class="l-title">
                授权使用
            </p>
            <p>
                鸟听授予您免费的、不可转让的、非独占的全球性个人许可，允许您使用由鸟听提供的、包含在服务中的鸟听软件。您不可复制、修改、发布、出售或出租本软件及其内容的任何部分，也不得进行反向工程或试图提取该软件的源代码，除非您已获得鸟听的书面许可。
                <br/><br/>
                您不可使用任何“深层链接”、“抓取页面”、“机器人”、“蜘蛛”或其他自动装置、程序、算法、方法或者任何相似或相同的手动程序，访问、取得、复制或监测本软件任何部分或任何内容，或以任何方式复制或规避本软件或任何内容的结构或介绍，通过任何非本软件提供的方式，取得或试图取得任何资料、文件或信息。
                <br/><br/>
                您不可试图通过非法侵入、“破解”密码或任何其他非法方式，未经授权访问本软件的任何部分或功能，或者未经授权取得本软件提供的任何服务。
                <br/><br/>
                您不可反向查找、追踪 或寻求追踪任何关于本软件任何其他用户或访问者的信息，包括任何非您所有的账户的来源；或为显示您个人所有信息以外的任何信息之目的， 包括但不限于本软件提供的身份证明或信息，使用本软件或本软件提供的任何服务或信息。
                <br/><br/>
                您同意不使用任何设备、软件或程序，干扰或试图干扰本软件的正常运行或于本软件进行的任何交易，或干扰或试图干扰他人使用本软件。
                <br/><br/>
                您不可操控识别功能，用以伪造通过本软件提交给鸟听的任何信息或传输内容的来源，或者伪造本软件提供的任何服务的来源。您不可假冒他人、或假冒代表他人，或模仿任何其他个人或实体。
                <br/><br/>
                您不可为任何非法或本协议禁止之目的使用本软件或任何内容，或者教唆实施任何非法行为或侵犯鸟听或他人权利的其他行为。
                <br/>
            </p>
            <p class="l-title">
                账户注册
            </p>
            <p>
                当您按照注册页面提示，完整、准确填写您的信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），阅读并同意本协议且完成全部注册程序后，您可获得鸟听账户的使用权并成为鸟听用户。您有义务保持您提供信息的真实性及有效性，如发生变更应及时进行更新，并对此自行承担责任。
                <br/><br/>
				您有权使用您设置或确认的鸟听会员名、邮箱、手机号码（以下简称“账户名称”）及您设置的密码（账户名称及密码合称“账户”）登录鸟听。
                <br/><br/>
				您设置的会员名，不得违反国家法律法规及鸟听规则的管理规定，否则鸟听可回收您的会员名。
                <br/>
            </p>
            <p class="l-title">
                账户使用及权限
            </p>
            <p>
                本软件只允许每位用户使用一个鸟听账户。如有证据证明或鸟听有理由相信您存在不当注册或不当使用多个鸟听账户的情形，鸟听可采取冻结或关闭账户、取消订单、拒绝提供服务等措施，如给鸟听及相关方造成损失的，您还应承担赔偿责任。
                <br/><br/>
				由于您的账户关联您的个人信息及鸟听商业信息，您的账户仅限您本人使用。未经鸟听同意，您直接或间接授权第三方使用您账户或获取您账户项下信息的行为无效。如鸟听判断您对账户的使用可能危及您的账户安全及/或鸟听信息安全的，可暂停或停止向您提供相应服务。
                <br/><br/>
				您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息或评价、购买商品及服务及披露信息等）负责。
                <br/><br/>
				除法律规定或经鸟听书面同意的情况下，您的账户不得以任何方式转让，否则鸟听有权追究您的违约责任，且由此产生的一切责任均由您承担。
                <br/><br/>
				为保障您的账户安全，鸟听有权要求您按我国法律规定完成实名认证。同时，鸟听可能会不定期对用户身份进行确认，该确认行为不会单独另行通知，在确认期间，若您的账号未能通过确认，鸟听保留注销或冻结您的账号的权利。
                <br/><br/>
				您不可为任何非法或本协议禁止之目的使用账户，不可利用账户从事任何非法行为或发表任何非法或本协议禁止的内容，或者利用账户教唆实施任何非法行为或侵犯汽车之家或他人权利的行为。
                <br/><br/>
				您的账户为您自行设置并由您保管，请妥善保管账户名称及密码；如因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，鸟听并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。
                <br/><br/>
				如发现任何未经授权使用您账户登录鸟听或其他可能导致您账户遭窃、遗失的情况，建议您立即通知鸟听。您理解鸟听对您的任何请求采取行动均需要合理时间，且鸟听应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除鸟听存在法定过错外，鸟听不承担责任。
				<br/><br/>
				鸟听某些服务或模块允许您通过账户上传、提交、发布信息。该信息的知识产权及所有权归您所有。您对该等信息的真实性、合法性承担全部责任。
				<br/><br/>
				当您通过您的账户上传、提交、存储或发布信息时，您同意授予鸟听使用、托管、存储、复制、修改、创建衍生作品（如为了使您的内容更好地与鸟听服务配合使用而进行翻译、改编或其他更改，由此产生的作品）、传播、出版、公开演示、公开展示和分发此类信息。您在此许可中授予的权限，用于鸟听运营、宣传和改进服务，以及开发新的服务。该项许可在您停止使用鸟听或其服务后依然有效。
				<br/><br/>
				您不可利用本软件及账户制作、复制、发布、传播含有法律法规禁止的内容的信息；不得从事危害电信网络安全和信息安全的行为；不得利用从事扰乱电信市场秩序的行为。否则，鸟听有权暂停或停止向您提供有关服务。
				<br/>
				
            </p>
            <p class="l-title">
                用户信息的保护及授权
            </p>
            <p>
                鸟听非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您注册鸟听账户或使用鸟听提供的服务时，您同意鸟听收集、存储、使用、披露和保护您的个人信息。
				<br/><br/>
				您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，鸟听有权对您发布的信息依法或依本协议进行删除或屏蔽。
				<br/><br/>
				您应当确保您所发布的信息不包含以下内容，如包含，鸟听有权对您发布的信息依法或依本协议进行删除或屏蔽：
				<br/><br/>
				（1）违反国家法律法规禁止性规定的；
				<br/><br/>
				（2）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
				<br/><br/>
				（3）欺诈、虚假、不准确或存在误导性的；
				<br/><br/>
				（4）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；
				<br/><br/>
				（5）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；
				<br/><br/>
				（6）存在可能破坏、篡改、删除、影响本软件任何系统正常运行或未经授权秘密获取本软件及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；
				<br/><br/>
				（7）其他违背社会公共利益或公共道德或依据本协议、其他规则的规定不适合在本软件上发布的。
				<br/><br/>
            </p>
        </div>
    </div>
</body>
</html>